.container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 24px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    align-items: stretch;
}

.daniel {
    grid-area: daniel;
}

.jonathan {
    grid-area: jonathan;
}

.kira {
    grid-area: kira;
}

.jeanette {
    grid-area: jeanette;
}

.patrick {
    grid-area: patrick;
}

@include responsive(991px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "daniel daniel jonathan"
        "jeanette patrick patrick"
        "kira kira kira";
    }
}

@include responsive(768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "daniel jonathan"
        "jeanette patrick"
        "kira kira";
    }
}

@include responsive(600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "daniel"
        "jonathan"
        "jeanette"
        "patrick"
        "kira";
        align-items: start;
    }
}